{{#if @loading}}
  <div class="loading sk-cube-grid">
    <div class="sk-cube sk-cube1 float-start bg-primary" />
    <div class="sk-cube sk-cube2 float-start bg-primary" />
    <div class="sk-cube sk-cube3 float-start bg-primary" />
    <div class="sk-cube sk-cube4 float-start bg-primary" />
    <div class="sk-cube sk-cube5 float-start bg-primary" />
    <div class="sk-cube sk-cube6 float-start bg-primary" />
    <div class="sk-cube sk-cube7 float-start bg-primary" />
    <div class="sk-cube sk-cube8 float-start bg-primary" />
    <div class="sk-cube sk-cube9 float-start bg-primary" />
  </div>
{{else}}
  {{yield}}
{{/if}}