<div class="position-relative">
  <select
    class="form-select bg-dark-light bg-opacity-05 text-light"
    ...attributes
  >
    {{yield}}
  </select>
  <FaIcon
    class="position-absolute top-50 translate-middle-y end-0 me-2 text-light"
    @icon="caret-up"
    @fixedWidth={{true}}
  />
</div>
