<select
  class="select text-white bg-white bg-opacity-5 placeholder-gray-400 placeholder-opacity-65 focus:ring-0 border border-gray-500 focus:border-main-600 rounded-md pl-4 py-2 bg-none"
  ...attributes
>
  {{yield}}
</select>
<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
  <FaIcon class="text-white" @icon="caret-up" @fixedWidth={{true}} />
</div>