@import "tailwindcss";
@import "ember-power-select/vendor/ember-power-select";

@plugin "@tailwindcss/forms";

@theme {
  /* stylelint-disable */
  --color-*: initial;
  /* stylelint-enable */
  --color-main-50: #fdf4ff;
  --color-main-100: #fae8ff;
  --color-main-200: #f5d0fe;
  --color-main-300: #f0abfc;
  --color-main-400: #e879f9;
  --color-main-500: #d946ef;
  --color-main-600: #c026d3;
  --color-main-700: #a21caf;
  --color-main-800: #86198f;
  --color-main-900: #701a75;
  --color-main-950: #4a044e;
  --color-white: #fff;
  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;
  --color-dark-base: rgb(12 12 12 / 100%);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.avatar {
  @apply h-[2.875rem];
}

.avatar-small {
  @apply h-7;
}

.ember-power-select-dropdown {
  @apply bg-dark-base rounded-b border-gray-500;
}

.ember-power-select-options {
  @apply bg-gray-800;
}

.ember-power-select-search {
  @apply bg-gray-800 p-0;
}

.ember-power-select-option {
  @apply bg-gray-800 hover:bg-gray-700 flex gap-1 border-gray-500 p-2 cursor-pointer items-center;

  &:not(:last-child) {
    @apply border-b;
  }

  &[aria-current="true"] {
    @apply bg-main-700;
  }
}

.ember-power-select-option:last-child {
  @apply border-b-0;
}

.ember-power-select-search-input {
  @apply py-1 px-2 text-white bg-gray-800 border! border-t-0! border-x-0! border-gray-500! placeholder:italic;
}

.ember-power-select-trigger {
  @apply text-white leading-7 bg-gray-800 border border-gray-500 py-2 px-3 placeholder:italic cursor-pointer rounded-sm relative overflow-x-hidden min-h-7;
}

.ember-power-select-placeholder {
  @apply text-gray-400;
}

.ember-power-select-status-icon {
  @apply hidden;
}

/* stylelint-disable selector-class-pattern */
.ember-power-select-trigger.ember-basic-dropdown-trigger--below {
  @apply rounded-b-none;
}

.ember-power-select-option--search-message {
  @apply bg-gray-800 cursor-default hover:bg-gray-800;
}
/* stylelint-enable selector-class-pattern */

.ember-power-select-selected-item {
  @apply flex items-center gap-1 ml-[-0.25rem];
}
