.main {
  grid:
    "nav" 68px
    "content" calc(100vh - 78px) /
    1fr;
  grid-row-gap: 10px;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.search-icon {
  top: 1rem;
  right: 1rem;
  height: 1rem;
  width: 1rem;
}

.avatar {
  height: 64px;
}

.avatar-small {
  height: 2rem;
}
